<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need to read your heart rate during workouts</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need to save your workouts and active calories</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
